/* body{
    background: red;
    z-index: 111;
} */



.navbar {
  padding: 0;
  min-height: 80px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: #fff;
}
@media (max-width: 767.98px) {
  .navbar {
    padding: 0 20px;
  }
}

.navbar .navbar-nav {
    height: auto;
  }
  
  .navbar .navbar-nav .nav-link {
    font-size: 13px;
    font-weight: bold;
    margin: 0 10px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .navbar .navbar-nav .nav-link.active {
    color: #ff7a57;
  }
  
  .navbar .navbar-nav .btn {
    min-width: 120px;
  }
  
  .navbar.affix {
    box-shadow: 0 6px 15px rgba(206, 212, 218, 0.3);
  }






  .navbar .navbar-brand img {
    width: 75px;
    -webkit-filter: drop-shadow(1px 2px 25px rgba(206, 212, 218, 0.9));
            filter: drop-shadow(1px 2px 25px rgba(206, 212, 218, 0.9));
  }









  .header {
    height: 94vh;
    min-height: 650px;
    border-bottom: 2px solid #dee2e6;
  }
  
  .header .container {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .header .container .infos {
    margin-top: 120px;
  }
  
  .header .container .infos .subtitle {
    margin-bottom: 0;
    font-size: 25px;
    font-weight: 500;
  }
  
  .header .container .infos .title {
    margin-bottom: 0px;
    font-size: 74px;
    font-weight: bold;
  }
  
  .header .container .infos p {
    margin-top: -5px;
    font-size: 22px;
  }
  
  .header .container .infos .btn {
    display: inline-block;
    margin: 0 2px;
  }
  
  .header .container .img-holder {
    height: 100%;
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-left: 0px;
  }
  
  .header .container .img-holder img {
    width: 100%;
    max-width: 620px;
    -webkit-filter: drop-shadow(0 -4px 20px rgba(206, 212, 218, 0.4));
            filter: drop-shadow(0 -4px 20px rgba(206, 212, 218, 0.4));
    margin-left: auto;
    margin-right: -2rem;
  }
  
  @media (max-width: 991.98px) {
    .header .container {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
    .header .container .infos {
      margin-top: 0;
    }
    .header .container .img-holder {
      display: none;
    }
  }
  
  .header .widget {
    position: relative;
    max-width: 650px;
    width: 95%;
    margin: 0 auto;
    border-radius: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    border: 1px solid #dee2e6;
    padding: 20px 0;
    margin-top: -50px;
    z-index: 999;
    background: #fff;
    box-shadow: 0 0 30px rgba(173, 181, 189, 0.4);
  }
  
  .header .widget .widget-item {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
    text-align: center;
    border-right: 1px solid #dee2e6;
  }
  
  .header .widget .widget-item:last-child {
    border-right: 0;
  }
  
  .header .widget .widget-item h2, .header .widget .widget-item p {
    margin: 0;
  }
  
  .header .widget .widget-item p {
    opacity: .7;
    font-size: 14px;
  }
  
  @media (max-width: 767.98px) {
    .header .widget {
      padding: 10px;
      margin-top: -32px;
    }
    .header .widget .widget-item h2 {
      font-size: 20px;
    }
    .header .widget .widget-item p {
      font-size: 13px;
    }
  }
  
  .header-title {
    font-size: 2.4rem;
    font-weight: bold;
    opacity: .8;
  }
  
  .header-mini {
    min-height: 24rem;
    height: 24rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding: 1rem;
    background: #ffcbbd;
  }
  
  .section {
    position: relative;
    padding: 5rem 0;
  }
  
  .section:nth-child(even) {
    background: white;
  }
  
  .section.bg-white {
    background-color: #fff;
  }
  
  .section.bg-gray {
    background: white;
  }
  
















  .img-thumbnail {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
  }




  .custom-card {
    border-radius: 0.25rem;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .custom-card .card-body {
    padding: 55px 0;
  }
  
  .custom-card .card-body i {
    display: block;
    font-size: 40px;
    margin-bottom: 18px;
    color: #ff7a57;
  }
  
  .custom-card:hover, .custom-card:active {
    background: #ff7a57;
    color: #fff;
  }
  
  .custom-card:hover i, .custom-card:active i {
    color: #fff;
  }

  .navbar .navbar-nav .nav-link.active {
    color: #ff7a57;
}


#navbarSupportedContent ul li a:hover {color:#ff7a57;}
#navbarSupportedContent ul li a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
#navbarSupportedContent ul li a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}










  .img-wrapper {
    position: relative;
    border-radius: 0.25rem;
    overflow: hidden;
    margin-bottom: 30px;
    display: block;
    display: block;
  }
  
  .img-wrapper img {
    position: relative;
    width: 100%;
    z-index: 8;
  }
  
  .img-wrapper .overlay {
    background: rgba(255, 122, 87, 0.7);
    position: absolute;
    left: 0;
    bottom: 100%;
    width: 100%;
    height: 100%;
    z-index: 9;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .img-wrapper .overlay .overlay-infos {
    position: absolute;
    top: 0%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transition-delay: .2s;
            transition-delay: .2s;
    color: #fff;
  }
  
  .carousel-indicators li {
    box-sizing: content-box;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    -webkit-transition: opacity 0.6s ease;
    transition: opacity 0.6s ease;
  }









 





  .socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  
  .socials .social-item {
    display: block;
    margin: 0 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #ff7a57;
    color: #ff7a57;
    text-align: center;
    line-height: 40px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none;
  }
  
  .socials .social-item:hover {
    background: #ff7a57;
    color: #fff;
  }







  .progress {
    background: #eaf0fc;
    border-radius: 0.2rem;
    height: 3px;
    margin-bottom: 30px;
  }
  
  .progress .progress-bar {
    position: relative;
    height: 100%;
    text-align: left;
  }
  
  .progress .progress-bar span {
    font-size: 13px;
    font-weight: bold;
    position: absolute;
    opacity: .7;
    bottom: 18px;
    right: -14px;
  }
  
  .progress .progress-bar:after {
    content: '';
    display: block;
    position: absolute;
    top: -5px;
    right: -4px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #ff7a57;
    box-shadow: 0 0 10px rgba(255, 122, 87, 0.5);
  }







 





  .contact {
    position: relative;
    border-radius: 0.3rem;
    border: 1px solid 1px;
    box-shadow: 1px 2px 6px rgba(173, 181, 189, 0.5);
    padding: 0 30px 0 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    max-width: 1000px;
    margin: 0 auto 150px;
    z-index: 99;
    background: #fff;
  }
  
  .contact .form {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    border-right: 1px solid #dee2e6;
    padding: 35px 30px 35px 0;
  }
  
  .contact .form form {
    margin-top: 30px;
  }
  
  .contact .contact-infos {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    margin-left: 30px;
    min-width: 350px;
  }
  
  .contact .contact-infos .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  
  .contact .contact-infos .item i {
    display: block;
    width: 40px;
    font-size: 16px;
    color: primary;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    border: 1px solid #ff7a57;
    line-height: 34px;
    text-align: center;
    padding: 0 !important;
    color: #ff7a57;
    margin-right: 15px;
  }
  
  .contact .contact-infos .item div {
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 25px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  
  .contact .contact-infos .item div h5 {
    margin-bottom: 10px;
    opacity: .9;
  }
  
  .contact .contact-infos .item div p {
    opacity: .7;
    font-size: 15px;
    margin-bottom: 4px;
  }



  .btn-block {
    display: block;
    width: 100%;
  }
  .btn {
    font-size: 14px;
    font-weight: bold;
  }
  
  .btn.btn-primary {
    color: #fff;
  }
  
  .btn.rounded {
    border-radius: 50px !important;
  }
  
  .btn.w-sm {
    min-width: 100px;
  }
  
  .btn.w-md {
    min-width: 130px;
  }
  
  .btn.w-lg {
    min-width: 160px;
  }



  
  @media (max-width: 991.98px) {
    .contact {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 20px;
    }
    .contact .form {
      margin: 0 0 20px 0;
      padding: 0;
      border-right: 0;
    }
    .contact .contact-infos {
      display: none;
    }
  }
  .form-group {
    margin-bottom: 1rem;
  }



















  #map {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
  }
  
  #map iframe {
    width: 100%;
    height: 100%;
    border: 0;
  }











  .page-footer {
    background: #fcfdff;
  }
  
  .page-footer .row {
    height: 100px;
  }
  
  .page-footer p {
    margin-bottom: 0;
  }
  
  .page-footer .socials {
    max-width: 210px;
    margin-left: auto;
  }
  
  .page-footer .socials .social-item {
    margin-left: auto;
  }
  
  @media (max-width: 767.98px) {
    .page-footer {
      padding: 20px 0;
    }
    .page-footer .row {
      text-align: center;
    }
    .page-footer .row .socials {
      margin: auto;
    }
  }

